@media only screen and (min-width: 30em) {
  .light main .app.slide-left, .dark main .app.slide-left {
    -webkit-transition: margin-left .25s cubic-bezier(.65,.05,.36,1);
    transition: margin-left .25s cubic-bezier(.65,.05,.36,1);
    margin-left: auto;
  }
}
//html{height:100%;}
//body{min-height:100%;margin:0;padding:0;position:relative;}
//main{padding-bottom:120px;background-color: #bdb76b;}
//footer{position:absolute;bottom:0;width:100%;height: 80px;background-color: #ffc0cb;}
.footer {
  width: 360px;
  text-align: center;
  opacity: 0.4;
  height: 80px;
  position: absolute;
  bottom: 10px;
  left: calc(60% - 180px);
  margin: 0 auto;
  z-index: 1;
}
.appcontent_with-bg {
  //background-image: url('../../asserts/bg.jpg');
  padding-bottom:140px;
  //background-color: #f3f3f3;
  //background-repeat: no-repeat;
  ////background-size: 100%;
  //background-position: bottom right;
  z-index: 2;
}
